* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #201f1f;
    color: #fff;
    font-family: sans-serif;
}

header {
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

header img {
    max-width: 140px;
    height: 40px;
    margin: 6px;
}

main {
    margin-top: 120px;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 250;
    letter-spacing: 2px;
    min-width: 70%;
    margin: 0 auto;
}

section #perfis {
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    margin: 35px auto 60px auto;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

#perfis div {
    margin: 0 auto;
    flex: 0 1 240px;
    margin-bottom: 20px;
    cursor: pointer;
}

section img {
    width: 90%;
    max-width: 100%;
    max-height: 200px;
    border-radius: 2px;
}

p {
    color: #818181;
    margin-top: 10px;
    font-size: 18px;
}

#botao {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

button {
    width: 300px;
    text-transform: uppercase;
    padding: 10px;
    color: #818181;
    border: 1px solid #818181;
    background: #201f1f;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}

footer {
    text-align: center;
    margin: 30px 0;
}

@media (max-width: 600px) {
    h1 {
        font-size: 35px;
    }
}